<section>
  <form #formCtrl="ngForm" name="userForm" method="POST"></form>
  <h3>Login</h3>
    <div class="wrapper">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email" required [(ngModel)]="user.email">
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" required [(ngModel)]="user.password">
      </div>
      <div class="form-group">
        <button (click)="handleSignIn()" [disabled]="formCtrl.form.invalid">Login</button>
      </div>
  </div>
</section>
