@import '../../../styles.scss';

.text-input {
    width: 100%;
    height: 100%;
  

    .close{
      width: 100%;
      height: 30px;
      font-size: 1em !important;
      color: $seconday-text-hex;
      border: 1px solid darken($seconday-text-hex, $amount: 10);
      @include flex-row(flex-end);

      p {
        
        width: 30px;
        height: 100%;
        padding: 7.5px;
        cursor: pointer;
      }

    }

    textarea {
    
        max-width: 430px;
        max-height: 300px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
}
