@import '../../../../styles.scss';
@import '../../../../styles-fonts.scss';
$toolbar-height: 50px;

.template-sq-img-txt  {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 2fr 0.5fr 4fr;
  grid-template-areas:  ". ."
                        "toolbar toolbar"
                        "image-area text-area";
}

.toolbar {
  grid-area: toolbar;
  border: 1px solid black;
  height: $toolbar-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: darken($accent-3-hex, 10%);

  .image-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
  }

  .text-options {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    .font-wrapper {
      position: absolute;
      top: $toolbar-height;
      left: 288px;
    }
  }
}
  .image-area {
    grid-area: image-area;
    background-image: url('../../../../assets/images/placeholder-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-image: center;
  }

  .text-area {
    grid-area: text-area;
    width: 500px;
    height: 400px;
    background-color: $secondary-2-hex;
    color: $seconday-text-hex;
    padding: $content-spacing;
    position: relative;

  }

  .text-editor{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: -70px;
      left: 250px;
    }

  .color-picker-wrapper{
    position: absolute;
    top: 0px;
    left: 160px;
    z-index: 5;
  }

.text-area-non-edit {
    display: flex;
    flex-direction: column;
}

.align-content-left {
  text-align: left;
}

.align-content-right {
  text-align: right;
}

.align-content-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.vertical-align-centre {
  justify-content: center;
}

.vertical-align-top {
  justify-content: flex-start;
}

.vertical-align-bottom {
  justify-content: flex-end;
}
