<section >
  <div class="template-sq-img-txt">

    <div class="toolbar">
      <div class="image-options">
        <app-toolbar-group [buttons]="nonEditButtons" (clickEvent)="handleClick($event)"></app-toolbar-group>
        <div class="img-buttons" *ngIf="isEditing">
          <app-toolbar-group [buttons]="imgEditButtons"></app-toolbar-group>
        </div>
      </div>

      <div class="text-options">
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp1"
          (clickEvent)="handleClick($event)">
        </app-toolbar-group>
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp4"
          (clickEvent)="handleClick($event)">
        </app-toolbar-group>
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp2"
          (clickEvent)="handleClick($event)">
        </app-toolbar-group>
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp3" (clickEvent)="handleClick($event)"></app-toolbar-group>
        <div class="font-wrapper">
          <app-font-drop-down *ngIf="isShowFontPicker" (handleFontSelected)="handleSelectFont($event)"></app-font-drop-down>
        </div>
      </div>
    </div>
    <div class="image-area">image
      <img src="" alt="">
      <app-file-upload></app-file-upload>
    </div>
    <div class="text-area"
      [ngStyle]="{'font-size': fontSize + 'px', 'font-family': fontFamily, 'color':color, 'backgroundColor':backgroundColor}"
      [ngClass]="getClasses()"
      (click)="showTextEditor=!showTextEditor && isEditing && !isShowColourPicker">
      {{ contentText }}
        <div class="color-picker-wrapper" *ngIf="isShowColourPicker">
          <app-color-picker-wrapper (handleColorSelected)="setColor($event)"></app-color-picker-wrapper>
        </div>
    </div>
    <div class="text-editor" *ngIf="showTextEditor">
      <app-text-input  (closeEvent)="closeTextInput()" (textChangedEvent)="textChanged($event)"
        [textContent]="contentText"></app-text-input>
    </div>
  </div>

</section>
