<section>
  <div class="template-sq-img-txt">
    <div class="toolbar">
      <div class="image-options">
        <app-toolbar-group [buttons]="nonEditButtons" (clickEvent)="handleClick($event)"></app-toolbar-group>
        <div class="img-buttons" *ngIf="isEditing">
          <app-toolbar-group [buttons]="imgEditButtons" (clickEvent)="handleClick($event)"></app-toolbar-group>
          <app-toolbar-group [buttons]="imgPositionButtons" (clickEvent)="handleClick($event)"></app-toolbar-group>
          <app-toolbar-group [buttons]="imgSizeButtons" (clickEvent)="handleClick($event)"></app-toolbar-group>
        </div>
      </div>
      <div class="text-options">
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp1"
          (clickEvent)="handleClick($event)">
        </app-toolbar-group>
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp4"
          (clickEvent)="handleClick($event)">
        </app-toolbar-group>
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp2"
          (clickEvent)="handleClick($event)">
        </app-toolbar-group>
        <app-toolbar-group *ngIf="isEditing" [buttons]="textEditButtonsGrp3" (clickEvent)="handleClick($event)"></app-toolbar-group>
        <app-font (fontSelected)="handleSelectFont($event)"
          (fontSizeChanged)="handleFontSizeChange()">
        </app-font>
        <div class="font-wrapper">
          <app-font-drop-down *ngIf="isShowFontPicker"
            (fontSelected)="handleSelectFont()"

          ></app-font-drop-down>
        </div>
      </div>
    </div>
    <!-- <div class="image-area" [ngStyle]="{'background-color':imageBackGroundColor.value}"> -->
      <div class="image-area" appImageFormatter     [changedValue]="imageChangedValue">
      <div>
        <img src="" alt=""
          appImageFormatter
          [buttonEvent]="imageButtonEvent"
          [changedValue]="imageChangedValue"
        >
      </div>
      <div class="img-upload-buttons-wrapper" *ngIf="showUploadImage">
        <app-file-upload  [path]="this.path" (handleFileUploadComplete)="handleFileUploaded($event)" (handleCancelClicked)="handleFileUploadCancelClicked()"></app-file-upload>
      </div>
      <div class="img-url-wrapper" *ngIf="showURLLink" >
        <app-url-input (url)="handleUrl($event)" (handleCancelClicked)="handleUrlCancelClicked()"></app-url-input>
      </div>
    </div>
    <div class="text-area"
      appTextFormatterDirective
      [buttonEvent]="buttonEvent"
      [changedValue]="changeValue"
      (click)="handleTextEditorClick()">
      {{ theTextContentService.textContent }}
        <div class="color-picker-wrapper" *ngIf="isShowColourPicker">
          <app-color-picker-wrapper (handleColorSelected)="setColor($event)"></app-color-picker-wrapper>
        </div>
    </div>
    <div class="text-editor" *ngIf="showTextEditor">
      <app-text-input  (closeEvent)="closeTextInput()" (textChangedEvent)="textChanged($event)"
        [textContent]="theTextContentService.textContent"></app-text-input>
    </div>
  </div>
  <app-status-message [message]='statusMessage' *ngIf="isShowStatus"></app-status-message>
</section>
