@import '../../../../styles.scss';

section {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: $content-spacing * 10;
  border: 1px solid $secondary-2-hex;
  @include box-shadow;

  h3{
    background-color: $primary-1-hex;
    width: 100%;
    height: $content-spacing * 6;
    color: $primary-text-hex;
    text-align: center;
    padding: $content-spacing * 2;
  }
  .wrapper{
    @include flex-column ( flex-start );
    margin-top: $content-spacing * 4;

    .form-group {
      @include flex-column ( flex-start );
      margin:$content-spacing;

      input {
        @include input-field;
      }
      label {
        margin-bottom: $content-spacing / 2;
      }

      button {
        margin-top: $content-spacing * 3;
        @include text-button;
      }
    }
  }

}
