@import '../../../styles.scss';

$element-width: 90%;
$element-border:  1px solid grey;
$toolbar-height: 40px;

.component-card {
    width: 500px;
    height: 400px;
    border: 1px grey solid;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include box-shadow;

    .toolbar {
        width: $element-width;
        height: $toolbar-height;
        border: $element-border;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1em;

        .button {
          height: 100%;
          width: $toolbar-height;

          icon {
            font-size: 1em;
          }
        }
    }

    .component {
        width: $element-width;
        height: 300px;
        border: $element-border;
    }
}
