<section class="component-card">
    <div class="toolbar">
      <div class="button">
        <app-icon-button [iconButton]=faAlignLeft text="align-left"></app-icon-button>
      </div>
      <div class="button">
        <app-icon-button [iconButton]=faAlignCenter></app-icon-button>
      </div>
      <div class="button">
        <app-icon-button [iconButton]=faAlignRight></app-icon-button>
      </div>
      <div class="button">
        <app-icon-button></app-icon-button>
      </div>
    </div>
    <div class="component"><app-text-input></app-text-input></div>
</section>
