@import '../../../styles.scss';

nav {
  width: 100vw;
  height: $nav-height;
  background-color: $primary-1-hex;
  @include flex-row(space-between);
  color: $primary-text-hex;
  font-size: 1.2em;
  align-items: center;
  fa-icon {
    font-size: 2em;
  }

  .nav-lhs {
    width: 20%;
    padding: $content-spacing;
    @include flex-row(space-evenly);

    fa-icon {
      font-size: 2em;
    }
  }

  .nav-rhs {
    width: 50%;
    padding: $content-spacing;
    @include flex-row(space-between);
    ul {
      width: 90%;
      padding: $content-spacing;
      @include flex-row(space-evenly);

      li {
        cursor: pointer;

       &:hover{
          color: $secondary-text-hex;
       }
      }
    }
  }
}
