@import '../../../../../styles.scss';
/* You can add global styles to this file, and also import other style files */
$drop-width: 50px;
$drop-height: 25px;

.drop-down-input {

  padding: $content-spacing 0px 0px $content-spacing;

  input {
    width: $drop-width;
    height: $drop-height;
    position: relative;
    // position: absolute;

  }

  a {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;

    img {
      top: 5px;
      right: 20px;
      position: absolute;
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.drop-down-wrapper {
  position: absolute;
  top: $drop-height * 1.6;
  left: 10px;

  ul {
    background-color: #0563af;
    color: white;
    width: $drop-width;
    border: none;
    font-size: .8em;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;

    li {
      padding: $content-spacing /2;
      &:hover {
        cursor: pointer;
        background-color: $secondary-text-hex;

        width: 100%;
      }
    }
  }
  &:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
  }

}

.is-not-visible {
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}

.selected-item {
  background-color: $secondary-2-hex;
  color:white;
}
