

.abeezee{
  font-family: ABeeZee;
}
.abel{
  font-family: abel;
}

.abhaya-libre {
  font-family: 'Abhaya Libre';
}
.aclonica {
  font-family: Aclonica;
}

.abril-fatface {
  font-family: 'Abril Fatface';
}

.acme {
  font-family: acme;
}

.actor {
  font-family: actor;
}

.adamina {
  font-family: adamina;
}

.aguafina-script {
  font-family: 'Aguafina Script';
}

.akronim {
  font-family: 'Akronim';
}

.aladin {
  font-family: 'Aladin'
}
.aleo {
  font-family: Aleo;
}
.alex-brush {
  font-family: 'Alex Brush';
}